@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Lekton', sans-serif;
}




.showcase{ 
    position: absolute;
    right: 0; 
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white; 
    z-index: 2;
}


a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}

ul{
  list-style-type: none;
}
