@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    font-family: 'Lekton', sans-serif;
}

.showcase{ 
    position: absolute;
    right: 0; 
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white; 
    z-index: 2;
}

.showcase header{ 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    padding: 40px 100px; 
    z-index: 1000; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    flex: 1 0; 
}

.showcase nav { 
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    border: 1px solid red;
    min-width: 100vh;
}

nav ul { 
    font-size: 20px;
    display: flex; 
    gap: 40px;
    list-style-type: none;
}

nav ul li {
    
    display: inline-block;
}



a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
  color: white;
}


